container_commands:
  001_syncdb:
    command: source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput
    leader_only: true
  002_createsu:
    command: source /var/app/venv/*/bin/activate && python3 manage.py createsu
    leader_only: true
  # 003_collectstatic:
  #   command: source /var/app/venv/*/bin/activate && LANG=ja_JP.UTF-8 LC_ALL=ja_JP.UTF-8 python3 manage.py collectstatic --noinput --ignore '*.md' --ignore '*.sketch'
commands:
    setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DJANGO_SETTINGS_MODULE
    value: order.asgi:application