.check-out {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "Segoe UI-Semibold", Helvetica;
}

.check-out .div {
  background-color: var(--rgb255-219-188);
  overflow: hidden;
  width: 360px;
  height: 640px;
  position: relative;
}

.check-out .overlap {
  position: absolute;
  width: 364px;
  height: 429px;
  top: 160px;
  left: -2px;
}

.check-out .menu {
  position: absolute;
  width: 205px;
  height: 205px;
  top: 217px;
  left: 0;
  object-fit: cover;
}

.check-out .button {
  position: absolute;
  top: 85%;
  left: 40%;
  width: 76px;
  height: 26px;
  background-color: var(--rgb255-118-0);
  border-radius: 13px;
  border: 1px solid;
  border-color: #ff7600;
  box-sizing: border-box;
  z-index: 1;
}

.check-out .button:hover{
  cursor: pointer;
}

.check-out .text-wrapper {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.check-out .overlap-wrapper {
  position: absolute;
  width: 100px;
  height: 96px;
  top: 333px;
  left: 264px;
}

.check-out .overlap-3 {
  position: relative;
  width: 96px;
  height: 96px;
  background-image: url(../img/paper.png);
  background-size: cover;
  background-position: 50% 50%;
}

.check-out .text-wrapper-7 {
  position: absolute;
  top: 34px;
  left: 25px;
  text-shadow: 0px 3px 3px #00000029;
  font-family: "Segoe Script-Bold", Helvetica;
  font-weight: 700;
  color: #232323;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.check-out .text-wrapper-8 {
  position: absolute;
  top: 62px;
  left: 38px;
  font-family: "Segoe Script-Bold", Helvetica;
  font-weight: 700;
  color: #232323;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.check-out .component {
  margin: 0px auto 0px auto;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 10px;
}

th{
  font-weight: 700;
  color: #232323;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

td{
  font-weight: 400;
  color: #232323;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.food-img {
  border-radius: 10px;
  width: 50px;
  height: 48px;
  object-fit: cover;
  float: left;
  clear: both;
}

.food-name{
  padding-top: 7px;
}

legend{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-weight: 700;
  color: #4d4d4d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

fieldset {
  display: block;
  width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px #707070 dashed;
}

.check-out .mask-group {
  position: absolute;
  width: 23px;
  height: 16px;
  top: 0;
  left: 18px;
}

.check-out .overlap-5 {
  position: relative;
  width: 360px;
  height: 50px;
  background-color: var(--rgb255-255-255);
  box-shadow: 0px 3px 3px #00000029;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  width: 30em;
  border-radius: 0.5rem;
}
.close-button {
  position: absolute;
  left: 73%;
  top: 22%;
  width: 1.5rem;
  font-size: 2em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
  transition: color 0.12s ease-in-out;
  z-index: 1;
}
.close-button:hover {
  color: var(--clr-main);
  cursor: pointer;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.foodQty {
  position: absolute;
  margin-top: -15px;
}