.food {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.food .food-detail {
  width: 360px;
  height: 640px;
}

.food .overlap-group-fd {
  position: relative;
  height: 640px;
}

.food .mb-rectangle {
  position: absolute;
  width: 360px;
  height: 640px;
  top: 0;
  left: 0;
  background-color: var(--rgb77-77-77);
  opacity: 0.5;
}

.food .mb-div {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 100px;
  left: 40px;
  background-color: var(--rgb255-255-255);
  border-radius: 10px;
  box-shadow: 0px 3px 3px #00000029;
}

.food .mask-group {
  position: absolute;
  width: 23px;
  height: 16px;
  top: 0;
  left: 22px;
}

.food .kyar-san-chat11 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 125px;
  left: 65px;
  object-fit: cover;
}

.food .mb-text-wrapper {
  position: absolute;
  top: 297px;
  left: 99px;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-weight: 400;
  color: #232323;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.food .kyar-san-chat-12 {
  position: absolute;
  top: 187px;
  left: 225px;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-weight: 400;
  color: #232323;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.food .mb-component {
  position: absolute;
  width: 200px;
  top: 21vw;
  left: 4.6vw;
  background-color: var(--rgb255-255-255);
  border-radius: 13px;
  overflow: hidden;
  border: 2px solid;
  color: #ff7600; 
  border-color: #ff7600;
  padding: 5px 15px;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.mb-component:hover {
  cursor: pointer;
  background-color: #ff7600;
  color: #ffffff;
  transition: color 0.12s ease-in-out;
}

.food .mb-text-wrapper-3 {
  position: absolute;
  top: 208px;
  left: 225px;
  font-family: "Segoe UI-Semibold", Helvetica;
  font-weight: 400;
  color: #232323;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.food .mb-rectangle-2 {
  position: absolute;
  width: 23px;
  height: 16px;
  top: 297px;
  left: 215px;
  background-color: var(--rgb255-255-255);
}

.food .mb-component-2 {
  position: absolute;
  width: 66px;
  height: 16px;
  top: 297px;
  left: 195px;
}