{% extends 'customer/base.html' %}

{% load static %}
{% block content %}
<div class="menu">
  
  <div class="div">
    {% include 'customer/nav.html' %}
    <header-component></header-component>
    <div class="menu-section">

      <!--Food Order Detail-->
      <div class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <div class="food">
            <div class="food-detail">
              <div class="overlap-group-fd">
                <div class="mb-rectangle"></div>
                <div class="mb-div"></div>
                <img class="kyar-san-chat11" src="{% static 'images/ohn-no-khauk-swe.jpg' %}" />
                <div class="mb-text-wrapper">Number of Order:</div>
                <div class="kyar-san-chat-12">Coconut Milk<br />Noodle</div>
                <a href="{% url 'index' %}">
                  <button class="mb-component">Add to Order List</button>
                </a>
                <div class="mb-text-wrapper-3"><br />1000 Yen</div>
                <div class="mb-rectangle-2"></div>
                <div class="mb-component-2">
                  <form>
                    <div onclick="decreaseValue()" value="Decrease Value">
                      <img class="ic-remove-circle" src="{% static 'images/ic-remove-circle-outline-24px-2.svg' %}" />
                    </div>
                    <input type="number" id="number" value="0" />
                    <div onclick="increaseValue()" value="Increase Value">
                      <img class="ic-add-circle" src="{% static 'images/ic-add-circle-outline-24px-2.svg'%}" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav class="navbar">
        <a href="#" onclick="openTab(0)" class="nav-item active">Noodles</a>
        <a href="#" onclick="openTab(1)" class="nav-item">Appetite</a>
        <a href="#" onclick="openTab(2)" class="nav-item">Rices</a>
        <a href="#" onclick="openTab(3)" class="nav-item">Drinks</a>
        <a href="#" onclick="openTab(4)" class="nav-item">Desserts</a>
      </nav>

      <!-- Swiper -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="grid-container">
              <div class="trigger">
                <img src="{% static 'images/kyar-san-chat.jpg' %}" class="food-img">
                <p class="food-text">Kyar San Chat <br> 1000 Yen</p>
              </div>
              <div>
                <img src="{% static 'images/mont-hnin-khar.jpg' %}" class="food-img">
                <p class="food-text">Mont Hinn Khar <br> 1000 Yen</p>
              </div>
              <div>
                <img src="{% static 'images/ohn-no-khauk-swe.jpg' %}" class="food-img">
                <p class="food-text">Coconut Milk Noodle <br> 1000 Yen</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="grid-container">
              <div>
                <img src="{% static 'images/tofu.jpg' %}" class="food-img">
                <p class="food-text">Fried Tofu <br> 700 Yen</p>
              </div>
              <div>
                <img src="{% static 'images/wat-thar-kin.jpg' %}" class="food-img">
                <p class="food-text">Grilled Pork <br> 700 Yen</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="grid-container">
              <div>
                <img src="{% static 'images/fried-rice.jpg' %}" class="food-img">
                <p class="food-text">Fried Rice & Egg <br> 1000 Yen</p>
              </div>
              <div>
                <img src="{% static 'images/tea_leaf_rice.jpg' %}" class="food-img">
                <p class="food-text">Pickled Tea Leaf Rice <br> 800 Yen</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="grid-container">
              <div>
                <img src="{% static 'images/cola.jpg' %}" class="food-img">
                <p class="food-text">Coca-Cola <br> 300 Yen</p>
              </div>
              <div>
                <img src="{% static 'images/StrawberryJuice.jpg' %}" class="food-img">
                <p class="food-text">Strawberry Juice <br> 700 Yen</p>
              </div>
              <div>
                <img src="{% static 'images/grapejuice.jpg' %}" class="food-img">
                <p class="food-text">Grape Juice <br> 300 Yen</p>
              </div>
              <div>
                <img src="{% static 'images/mango.jpg' %}" class="food-img">
                <p class="food-text">Mango Juice <br> 300 Yen</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="grid-container">
              <div>
                <img src="{% static 'images/ice-cream.jpg' %}" class="food-img">
                <p class="food-text">Ice-Cream <br> 700 Yen</p>
              </div>
              <div>
                <img src="{% static 'images/cake.jpg' %}" class="food-img">
                <p class="food-text">Mini Cake <br> 900 Yen</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Swiper End-->
    </div>
    <div class="group">
      <div class="overlap-group">
        <div class="text-wrapper">Table</div>
        <div class="text-wrapper-2">7</div>
      </div>
    </div>
    <footer-component></footer-component>
  </div>
</div>

{% endblock content %}
