.footer {
    position: absolute;
    width: 321px;
    height: 30px;
    top: 610px;
    left: 19px;
    background-color: transparent;
    font-family: "Segoe UI-Semibold", Helvetica;
}

.div-wrapper {
    position: relative;
    width: 76px;
    height: 30px;
    background-color: var(--rgb255-255-255);
    border-radius: 5px 5px 0px 0px;
}

.call {
    position: absolute;
    width: 78px;
    height: 30px;
    top: 0;
    left: 245px;
}

.search {
    position: absolute;
    width: 78px;
    height: 30px;
    top: 0;
    left: 82px;
}

.overlap-4 {
    position: relative;
    width: 360px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #00000029;
  }
  
.overlap-group-wrapper {
    position: absolute;
    width: 78px;
    height: 30px;
    top: 0;
    left: 0;
}

.nav-text-wrapper-11 {
    position: absolute;
    top: 7px;
    left: 12px;
    font-family: "Segoe UI-Semibold", Helvetica;
    font-weight: 400;
    color: #ff7600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.nav-text-wrapper-12 {
    position: absolute;
    top: 8px;
    left: 28px;
    font-family: "Segoe UI-Semibold", Helvetica;
    font-weight: 400;
    color: #ff7600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.nav-text-wrapper-13 {
    position: absolute;
    top: 8px;
    left: 20px;
    font-family: "Segoe UI-Semibold", Helvetica;
    font-weight: 400;
    color: #ff7600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.nav-text-wrapper-14 {
    position: absolute;
    top: 8px;
    left: 23px;
    font-family: "Segoe UI-Semibold", Helvetica;
    font-weight: 400;
    color: #ff7600;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.header {
    position: absolute;
    width: 362px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: transparent;
}

.announcement {
    position: absolute;
    width: 360px;
    height: 100px;
    top: 50px;
    left: 0;
    object-fit: cover;
}

.ic-shopping-cart {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 1px;
    left: 0;
}


.site-title {
    position: absolute;
    top: 14px;
    left: 20px;
    font-family: "Segoe UI-Semibold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.div-2 {
    position: absolute;
    width: 82px;
    height: 17px;
    top: 18px;
    left: 261px;
}

.text-check-out {
    position: absolute;
    top: 0;
    left: 18px;
    font-family: "Segoe UI-Semibold", Helvetica;
    font-weight: 400;
    color: #ff7600;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.ic-remove-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 1px;
    left: 0;
    object-fit: cover;
}

.ic-add-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 1px;
    left: 51px;
    object-fit: cover;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    margin: -5px 22px;
    width: 20px;
    height: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#search-bar {
    position: absolute;
    bottom: 100%;
    padding: 5px;
}

#search-bar input {
    padding: 5px;
    margin-right: 5px;
}

.search-btn {
    background-color: #ff7600;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    cursor: pointer;
}

.language {
    position: absolute;
    width: 76px;
    height: 30px;
    top: 0;
    left: 164px;
    cursor: pointer;
}

.language-options {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.language-options a {
    color: #ffffff;
    padding: 10px 0px;
    width: 35px;
    height: 35px;
    text-decoration: none;
    display: block;
    background-color: #ff7600;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 100%;
    text-align: center;
    font-size: 13px;
}

.lan1{
    position: absolute;
    left: 3.5em;
    bottom: 1em;
}

.lan2{
    position: absolute;
    left: 1em;
    bottom: 3.8em;
}

.lan3{
    position: absolute;
    left: 0;
    bottom: 0.5em;
}