:root {
  --rgb255-255-255: rgba(255, 255, 255, 1);
  --rgb255-219-188: rgba(255, 219, 188, 1);
  --rgb0-0-0: rgba(0, 0, 0, 1);
  --rgb112-112-112: rgba(112, 112, 112, 1);
  --rgb77-77-77: rgba(77, 77, 77, 1);
  --rgb35-35-35: rgba(35, 35, 35, 1);
  --rgb255-118-0: rgba(255, 118, 0, 1);
}
